SQLAlchemy
cryptography
pandas
mysql-connector-python
matplotlib==3.8.1
matplotlib-inline==0.1.6
numpy==1.26.1
pandas==2.1.2
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
lightgbm==4.1.0
hyperopt==0.2.7
